<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>Payment Initation</h1>
    <ol class="breadcrumb">
      <!--<li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li><li class="active">Here</li>-->
    </ol>
  </section>
  <!-- Main content -->
  <section class="content">
    <!-- Your Page Content Here -->
    <div class="row">
      <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-aqua">
          <div class="inner">
            <h3>{{loopThroughAnchorProgramIds.length}}</h3>
            <p>Number of anchor programs in open state</p>
          </div>
          <div class="icon">
            <i class="ion ion-bag"></i>
          </div>
          <!--<a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>-->
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-green">
          <div class="inner">
            <h3>{{moStatus7}}
              <sup style="font-size: 20px"></sup>
            </h3>
            <p>Number of anchor programs pending payment initiation</p>
          </div>
          <div class="icon">
            <i class="ion ion-stats-bars"></i>
          </div>
          <!--<a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>-->
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-yellow">
          <div class="inner">
            <h3>{{moStatus7Amt}}</h3>
            <p>Total amount of payment pending for initiation</p>
          </div>
          <div class="icon">
            <i class="ion ion-person-add"></i>
          </div>
          <!--<a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>-->
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-red">
          <div class="inner">
            <h3>{{moStatus7POAmt}}</h3>
            <p>Total Purchase Order Amount for Program </p>
          </div>
          <div class="icon">
            <i class="ion ion-pie-graph"></i>
          </div>
          <!--<a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>-->
        </div>
      </div>
      <!-- ./col -->
    </div>
    <!-- Default box -->
    <div class="spinner1" ng-show="loading">
      <img src="http://i49.tinypic.com/j5z8mb.gif" alt="Loading..." />
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="box box-primary box-solid">
          <div class="box-header with-border">
            <h3 class="box-title">Initiate payment</h3>
            <div class="box-tools pull-right">
              <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-minus"></i>
              </button>
            </div>
          </div>
          <div class="box-body no-padding">
            <div class="box">
              <div class="box-body no-padding search-table-outter">
                <table class="table table-condensed">
                  <tr>
                    <th>Vendor Name</th>
                    <th>Amount</th>
                    <th>Payment Mode</th>
                    <th>Bank</th>
                    <th>Invoice</th>
                    <th>PO</th>
                    <th>IFSC Code</th>
                    <th></th>
                    <th></th>
                  </tr>
                  <tr ng-repeat="ProgramId in loopThroughAnchorProgramIds" ng-if="ProgramId.moStatus == '7'" height="35">
                    <td>{{ProgramId.vendorFname}}</td>
                    <td>{{ProgramId.approvedinvoiceAmount}}</td>
                    <td>NEFT</td>
                    <td>{{ProgramId.vendorBank}}</td>
                    <td>{{ProgramId.moID}}</td>
                    <td>{{ProgramId.anchOrPOID}}</td>
                    <td>{{ProgramId.venDorbank}}</td>
                    <td>
                      <button class="btn btn-primary btn-sm" ng-click="IntiatePayment(ProgramId);getPaymentDetails(ProgramId)">Initiate Payment</button>
                    </td>
                    <td>
                      <button type="button" class="btn btn-primary" data-toggle="modal" ng-click="getReverseStep(ProgramId)"  data-target="#settleModal">Reverse Step</button>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" ng-show="initiatePaymentPanel">
      <div class="col-md-12">
        <div class="col-md-6">
          <div class="box box-primary box-solid">
            <div class="box-header with-border">
              <h3 class="box-title">Initiating payment</h3>
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                  <i class="fa fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="box-body no-padding">
              <form class="form-horizontal">
                <div class="box-body">
                  <div class="form-group">
                    <label class="col-sm-4 control-label">Vendor Name</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" placeholder="Vendor Name" ng-model="vendorFname" readonly>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-4 control-label">Recievable Amount</label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" placeholder="Recievable Amount" ng-model="AmountReceivable" readonly>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-sm-4 control-label">Discounted Amount</label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" placeholder="Discounted Amount" ng-model="InterestPayable" readonly>
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-sm-4 control-label">Payment Mode</label>
                          <div class="col-sm-8">
                            <select class="form-control" ng-model="PaymentMode">
                              <option value="" disabled selected style="display: none;">Payment Mode</option>
                              <option value="NEFT">NEFT</option>
                              <option value="RTGS">RTGS</option>
                              <option value="IMPS">IMPS</option>
                            </select>
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-sm-4 control-label">Bank</label>
                          <div class="col-sm-8">
                            <input type="text" class="form-control" placeholder="Bank" ng-model="vendorBank" readonly>
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="col-sm-4 control-label">Remarks</label>
                            <div class="col-sm-8">
                              <input type="text" class="form-control" placeholder="Remarks" ng-model="RemittertoBeneNote" required>
                              </div>
                            </div>
                          </div>
                        </form>
                      </div>
                      <div class="box-footer">
                        <div class="col-sm-12">
                          <div class="col-sm-6">
                            <button class="btn btn-primary btn-sm" ng-click="fundTransfer(select.optradio,RemittertoBeneNote,PaymentMode)">Submit</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Modal -->
              <div class="modal fade" id="settleModal" tabindex="-1" role="dialog" aria-labelledby="settleModalTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-body">
                      <div class="modal-content-style">
                        <h3 class="modal-text width-600  font-40">Reverse Step</h3>
                        <br>
                          <p class="modal-text width-600 line-height-12 row">
                            <span class="font-16 col-md-4 margin-tp-btm-4"> Current Stage </span>
                            <span class="col-md-1 margin-tp-btm-8"> :</span>
                            <span class="col-md-7">
                              <input type="text"  class="form-control" name="currentStage" ng-model="CurrentStage" placeholder="Invoice Payment Approved" readonly>
                              </span>
                            </p>
                          <!--   <div class="col-sm-4">
                       <input type="text" class="form-control" placeholder="Invoice Payment Approved" ng-model="vendorBank" readonly>
                            </div> -->  <p class="modal-text width-600 line-height-12 row"> 
                              <span class="font-16 col-md-4 margin-tp-btm-8">Previous Stage</span>
                              <span class="col-md-1 margin-tp-btm-8">: </span>
                              <span class="col-md-7">
                               
                                <input type="text"  class="form-control" name="previousStage"  ng-model="PreviousStage" placeholder="Invoice Payment Pending Approval" readonly >
                                </span>
                              </p>
                              <p class="modal-text width-600 line-height-12 row">
                                <span class="font-16 col-md-4 margin-tp-btm-8"> Anchor ID </span>
                                <span class="col-md-1 margin-tp-btm-8">: </span>
                                <span class="col-md-7">
                                    <input type="text" class="form-control" placeholder="anchorId" ng-model="ProgramId" readonly>
                             <!--        <input type="text" class="form-control" name="anchorId" class="AnchorId" ng-model=ProgramId readonly> -->
                                  </span>
                                </p>
                                <p class="modal-text width-600 line-height-12 row">
                                  <span class="font-16 col-md-4 margin-tp-btm-8"> Invoice ID</span>
                                  <span class="col-md-1 margin-tp-btm-8">: </span>
                                  <span class="col-md-7">
                                    <input type="text" class="form-control" name="invoiceId"  ng-model="invoiceID" placeholder="Invoice ID" readonly>
                                    </span>
                                  </p>
                                  <p class="modal-text width-600 line-height-12 row">
                                    <span class="font-16 col-md-4 margin-tp-btm-8"> Remarks</span>
                                    <span class="col-md-1 margin-tp-btm-8"> : </span>
                                    <span class="col-md-7">
                                      <input type="text" class="form-control"  name="remarks" class="settle-input" placeholder="Remarks">
                                      </span>
                                    </p>
                                  </div>
                                </div>
                              </div>
                              <div class="modal-footer settle-footer-btn">
                                <button type="button" class="btn btn-primary">Accept</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Reject</button>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- settlement module popup -->
                        <!--<div class="box"><div class="box-header with-border"><div class="box-tools pull-right">
          &lt;!&ndash;<button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
          &lt;!&ndash; <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove"> &ndash;&gt;
          &lt;!&ndash; <i class="fa fa-times"></i></button> &ndash;&gt;
        </div></div><div class="box-body"><table id="mainTbl"><tr><td class="smlBrk"></td><td id="txtBxRw"><a href="index.html">Home</a></td><td class="smlBrk"></td><td id="userStuff"><div id="user" class="rtTxt"><span id="userDets"><span id="username"></span> (<span id="userType">Payment</span>: <span
                id="company"></span>)</span>&nbsp;<span id="menuBtn" onclick="toggleMenu()"><div
                class="menuBar"></div><div class="menuBar"></div><span id="userBlock"
                                                                       class="menuWhiteBlock"></span></span></div></td><td class="smlBrk"></td></tr><tr><td class="smlBrk"></td><td class="dropTd" colspan="3"><div class="usersDropMargin" id="mainMenu"><div id="users" class="dropDowns"><span class="userHdr">Switch User...</span></div></div></td><td class="smlBrk"></td></tr><tr><td class="smlBrk"></td><td class="bxHd" id="lftBxHd">Payment Initiation<img src="Icons/asset.svg" class="rtBtn noPoint"
                                                                 width="17" height="20"/></td><td class="smlBrk"></td><td class="bxHd" id="rtBxHd">Anchor Program ID<img src="Icons/person.svg" class="rtBtn noPoint" width="15"
                                                               height="20"/></td><td class="smlBrk"></td></tr
          <tr id="mdHldr"><td class="smlBrk"></td><td class="bxMd" id="lftBxMd"><div class="scrlHldr"><div class="scrlBr"><input class="mult" type="hidden" value="1"/></div></div><span class="contentHldr"><div class="content"><table id="selVhclsTbl"></table></div></span></td><td class="smlBrk"></td><td class="bxMd" id="rtBxMd"><div class="scrlHldr"><div class="scrlBr"><input class="mult" type="hidden" value="1"/></div></div><span class="contentHldr"><div id="recipientInfo" class="content"></div></span></td><td class="smlBrk"></td></tr><tr><td class="smlBrk"></td><td class="bxBtm" id="lftBxBtm"><img src="Icons/Payment/add.svg" class="lftBtn" id="addToVhcls" width="15"
                                                 height="15"/></td><td class="smlBrk"></td><td class="bxBtm" id="rtBxBtm"><img src="Icons/Payment/add.svg" class="lftBtn" id="addToRec" width="15"
                                                height="15"/><img src="Icons/Payment/minus.svg" class="rtBtn"
                                                                  id="remFrmRec" width="12" height="15"/></td><td class="smlBrk"></td></tr><tr><td class="smlBrk"></td><td><span class="lftBtn mnBtn" id="cclPg">Cancel</span></td><td class="smlBrk"></td><td><span class="rtBtn mnBtn" id="subPg">Generate Payment</span></td><td class="smlBrk"></td></tr><tr><td class="smlBrk gapRw"></td><td class="gapRw"></td><td class="smlBrk gapRw"></td><td class="gapRw"></td><td class="smlBrk gapRw"></td></tr></table><table id="chooseOptTbl"><tr><td class="bxHd" id="chooseOptHd"><span>Anchor ID</span><img src="Icons/close.svg" class="rtBtn"
                                                                         id="clsOpt" width="15" height="15"/></td></tr><tr><td class="bxMd" id="chooseOptMd"><div class="scrlHldr"><div class="scrlBr"><input class="mult" type="hidden" value="1"/></div></div><span class="contentHldr"><div class="content"><table id="vhclsTbl"></table></div></span></td></tr><tr><td class="bxBtm" id="chooseOptBtm"><img src="Icons/Payment/cancel.svg" class="lftBtn" id="cclOpt"
                                                     width="15" height="15"/><img src="Icons/Payment/tick.svg"
                                                                                  class="rtBtn" id="doneOpt"
                                                                                  width="20" height="15"/></td></tr></table><table id="chooseRecTbl"><tr><td class="bxHd" id="chooseRecHd"><span>Dealerships</span><img src="Icons/close.svg" class="rtBtn"
                                                                           id="clsRec" width="15" height="15"/></td></tr><tr><td class="bxMd" id="chooseRecMd"><div class="scrlHldr"><div class="scrlBr"><input class="mult" type="hidden" value="1"/></div></div><span class="contentHldr"><div class="content"><table id="recsTbl"></table></div></span></td></tr><tr><td class="bxBtm" id="chooseRecBtm"><img src="Icons/Payment/cancel.svg" class="lftBtn" id="cclRec"
                                                     width="15" height="15"/><img src="Icons/Payment/tick.svg"
                                                                                  class="rtBtn" id="doneRec"
                                                                                  width="20" height="15"/></td></tr></table><table id="confTbl"><tr><td class="bxHd" id="chooseConfHd"><span>Transfer Complete</span></td></tr><tr><td class="bxMd" id="chooseConfMd"><div id="confTxt"></div></td></tr><tr><td class="bxBtm" id="chooseConfBtm"><img src="Icons/Payment/tick.svg" class="rtBtn" id="doneConf"
                                                      width="20" height="15"/></td></tr></table><table id="failTransfer"><tr><td class="bxHd" id="failHd"><span>Transfer Failed</span></td></tr><tr><td class="bxMd" id="failMd"><div id="failTxt"></div></td></tr><tr><td class="bxBtm" id="failBtm"><img src="Icons/tickRed.svg" class="rtBtn" id="doneFail" width="20"
                                                height="15"/></td></tr></table></div>
      &lt;!&ndash; /.box-body &ndash;&gt;
      &lt;!&ndash; <div class="box-footer">
         Footer
       </div>
       &lt;!&ndash; /.box-footer&ndash;&gt;
    </div>-->
                        <!-- /.box -->
                      </section>
                      <!-- /.content -->
                    </div>
